@model WebApplication6.ViewModels.Category.CategoryViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Ändra", "Skor", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <td>Name</td>
            <td>
                @Html.HiddenFor(model => model.CategoryId)
                @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryName)
            </td>
        </tr>
    </table>

    <input type="submit" value="Spara" />
    <br />
    <br />

    <div>
        @Html.ActionLink("Tillbaka till kategori", "Index")
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
