@model WebApplication6.ViewModels.Skor.SkorIndexViewModel

@{
    ViewBag.Title = "AllSkor";
}

<h2>@Model.CategoryName</h2>
<hr />

@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Skapa ny", "Create", new { id = Model.CategoryId })
    </p>
}
<br />

<table class="table">
    <thead>
        <tr>
            <td class="itemColumn">@Html.ActionLink("Namn", "Index", new { sort = Model.SortOrder })</td>
            <td class="itemColumn">Color</td>
            <td class="itemColumn">Model</td>
            <td class="itemColumn">Size</td>
            <td class="itemColumn">Price</td>
            <td class="itemColumn">Description</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.SkorList)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "ViewSkor", "Skor", new { id = item.ID }, null)</td>
                <td>@item.Color</td>
                <td>@item.Model</td>
                <td>@item.Size</td>
                <td>@item.Price</td>
                <td>@item.Description</td>

                @if (Request.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-pencil" }) |
                        @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { onclick = "return confirm('Are sure you want to delete this category?');", @class = "glyphicon glyphicon-trash" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>