@model WebApplication6.ViewModels.Skor.SkoViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Skapa</h2>

@using (Html.BeginForm("Create", "Skor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <table class="table">
        @Html.HiddenFor(model => model.CategoryId)
        <tr>
            <td>Name</td>
            <td>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>Färg</td>
            <td>
                @Html.TextBoxFor(model => model.Color, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Color)
            </td>
        </tr>
        <tr>
            <td>Model</td>
            <td>
                @Html.TextBoxFor(model => model.Model, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Model)
            </td>
        </tr>
        <tr>
            <td>Storlek</td>
            <td>
                @Html.TextBoxFor(model => model.Size, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Size)
            </td>
        </tr>
        <tr>
            <td>Pris</td>
            <td>
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Price)
            </td>
        </tr>
        <tr>
            <td>Beskrivning</td>
            <td>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>

        <tr>
            <td>Kategori</td>
            <td>
                @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", @readonly = "readonly" })
            </td>
        </tr>
    </table>

    <input type="submit" value="Save" class="btn btn-default" />

    <br />
    <br />

    @*<div>
        @Html.ActionLink($"Tillbaka { Model.CategoryName }", "Index", "Skor", new { id = Model.CategoryId }, null)
    </div>*@
}